{% extends "base.html" %}
{% block content %}

<head></head>

<body>

<div class="container">

<h3>Felhasználó kezelése</h3>
<hr>
{% if role == 'admin' %}
    <form action="" method="post">
    <p><strong>Felhasználó név: </strong>{{ user.username }}</p>
    <label for="status"><strong>Jogosultsági szint:</strong></label>
     <select class="form-select" aria-label="Select role" name="role">
      <option selected>{{ user.access_group }}</option>
      <option value="regisztrált">regisztrált</option>
      <option value="koordinátor">koordinátor</option>
      <option value="admin">admin</option>
     </select>
    <p><strong>Email: </strong>{{ user.email }}</p>
    <p><strong>Telefon: </strong>{{ user.phone }}</p>   
    <p><strong>Felhasználó létrehozva: </strong>{{ user.created_date }}</p>
    <p><strong>Utolsó bejelentkezés: </strong>{{ user.last_login }}</p>
    <button type="submit" id="change_role" name="change_role" class="btn btn-warning rounded-0">Módosít</button>
    </form>
{% endif %}
</div>

</body>
    
{% endblock %}

