{% extends "base.html" %}
{% block content %}

<html>

    <head></head>
    
    <body>
    
     <div class="container">
    
	<h3>Ügy örökbefogadása</h3>

	<form action="" method = "POST">
	   
	   [tájékoztató szöveg]
	   
            <fieldset class="form-group">
            
	    <div class="form-group">
	      <label for="email">Email cím:</label>
	      <input type = "email" class = "form-control" name = "email" required value="{{ current_user.email }}" autofocus/>
	    </div>
	    <div class="form-group">
	      <label for="telephone">Telefon szám:</label>
	      <input type = "phone" class = "form-control" name = "phone" required/>
	    </div>	    
	    
	    <div class="checkbox">
              <label><input type="checkbox">Adatvédelmi nyilatkozat elfogadása</label>
            </div>
            
	    <div class="form-group">  
	      <input type = "submit" 
		         class="btn btn-primary" 
		         value = "Örökbefogad" />
	    </div>

	   </fieldset>
	    
	</form>
	
	<div>

	</div>

     </div>
	
    </body>
    
</html>

{% endblock %}

