{% extends "base.html" %}

{% block content %}

<html>

<head>
 <style>
	/* unvisited link */
	a:link {
	  color: black;
	}

	/* visited link */
	a:visited {
	  color: black;
	}

	/* mouse over link */
	a:hover {
	  text-decoration: none;
	  font-weight: lighter;
	  transition: 0.5s;
	}

	.cropped {
	  width: auto; 
	  height: 10em; 
	  object-fit: cover;
	  object-position: 50% 50%;
	}
	
	.cropped:hover{
	 transform: scale(1.07);
	 transition: transform 0.6s;
	 overflow: hidden;
	}
	
	.content {
	  display: none;
	  overflow: hidden;
	  }
	  
	.card {
	 border-style: solid;
	 border-width: 0.1em;
	 border-color: grey;
	 padding:0.5em;
	 border-radius: 0.7em;
	}
	  
</style>

</head>
 <body>
 
  <div class="container">
  
  <br>
  
  <h2>Összes bejelentés</h2>
  
  <button type="button" class="collapsible btn btn-light form-control rounded-0">Részletes keresés</button>
  
  <div class="content">
  
  <form action="" method="post" enctype="multipart/form-data">
  
   <div class="form-group">
   
    <label for="type">Státusz</label>
    <select class="form-select form-control" 
            aria-label="Státusz kiválasztása" 
            name="status">
    <option selected value="">Válassz a státuszok közül!</option>
    <option>Bejelentve</option>
    <option>Folyamatban</option>
    <option>Készül</option>
    <option>Befejezve</option>
    </select>
   
    <label for="type">Típus</label>
    <select class="form-select form-control" 
            aria-label="Típus kiválasztása" 
            name="type">
    <option selected value="">Válassz a típusok közül!</option>
    <option>Utca</option>
    <option>Szemét</option>
    <option>Közmű</option>
    <option>Út</option>
    <option>Járda</option>
    <option>Akadálymentesítés</option>
    <option>Növény</option>
    <option>Épület</option>
    <option>Közlekedés</option>
    <option>Tájékoztatás</option>
    <option>Műemlék</option>   
   </select>
   
    <label for="type">Megye</label>
    <select class="form-select form-control" 
            aria-label="Megye kiválasztása" 
            name="county">
     <option selected value="">Válassz a megyék közül!</option>
     <option>Budapest</option>
     <option>Pest</option>
     <option>Bács-Kiskun</option>
     <option>Baranya</option>
     <option>Békés</option>
     <option>Borsod-Abaúj-Zemplén</option>
     <option>Csongrád</option>
     <option>Fejér</option>
     <option>Győr-Moson-Sopron</option>
     <option>Hajdú-Bihar</option>
     <option>Heves</option>
     <option>Jász-Nagykun-Szolnok</option>
     <option>Komárom-Esztergom</option>
     <option>Nógrád</option>
     <option>Szabolcs-Szatmár-Bereg</option>
     <option>Tolna</option>
     <option>Vas</option>
     <option>Veszprém</option>
     <option>Zala</option>
    </select>
    
   </div> <!--detailed_search-->
   
    <button type="submit" class="btn btn-dark form-control rounded-0">Mutasd!</button>
    
   </form>
   
   </div>
   
   <hr>
   
   <div class="row">
 
    {% for row in post_list.items %}
    
     <div class="col-sm-3">
     <a href="/single_submission/{{ row.id }}" rel="noopener noreferrer">
      <div class="card">
       {% set status = row.status %}
       {% if status == 'Bejelentve' %}
         <div style="background-color:blue; color:white;">IKON {{ row.problem_type }}</div>
       {% elif status == 'Folyamatban' %}
         <div style="background-color:coral; color:white;">IKON {{ row.problem_type }}</div>
       {% elif status == 'Készül' %}
         <div style="background-color:red; color:white;">IKON {{ row.problem_type }}</div>
       {% elif status == 'Hivatal megoldotta' %}
         <div style="background-color:pink; color:white;">IKON {{ row.problem_type }}</div>
       {% elif status == 'Inaktív' %}
         <div style="background-color:grey; color:white;">IKON {{ row.problem_type }}</div>
       {% elif status == 'Duplika' %}
         <div style="background-color:purple; color:white;">IKON {{ row.problem_type }}</div> 
       {% elif status == 'Befejezve' %}
         <div style="background-color:green; color:white;">IKON {{ row.problem_type }}</div>                                               
       {% endif%}
       
       <img class="cropped" src="/static/upload/{{ row.id }}/{{row.cover_image}}" alt={{ row.title }}/>
         <br>
         <p>{{ row.title }}</p>
         <p>{{ row.city }}</p>
         {% set desc_1 = row.description.split('.') %}
         <p>{{ desc_1[0] }}.</p>
       </div>
       
       </a>
       <nav aria-label="Page navigation example">
     </div>

    {% endfor %}
    
   </div>
   <hr>
   

  <!-- Pagination Links-->
  <div class="text-right">
    <a href="{{ url_for('all_submission', page=post_list.prev_num) }}"
       class="btn btn-outline-dark 
       {% if post_list.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
  <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in post_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num %}
     <!-- Check for the active page and set the link to "Active"-->
      {% if post_list.page == page_num %}
       <a href="{{ url_for('all_submission', page=page_num) }}"
          class="btn btn-dark">
          {{ page_num }}
       </a>
      {% else %}
       <a href="{{ url_for('all_submission', page=page_num) }}"
          class="btn btn-outline-dark">
          {{ page_num }}
       </a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
    {% endfor %}
    <a href="{{ url_for('all_submission', page=post_list.next_num) }}"
       class="btn btn-outline-dark 
       {% if post_list.page == post_list.pages %}disabled{% endif %}">
        &raquo;
    </a>
   </div>
  </div>
  
<script>
  var coll = document.getElementsByClassName("collapsible");
  coll[0].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });

</script>

 </body>
 
</html>

{% endblock %}
