<!DOCTYPE HTML>
{% extends "base.html" %}
{% block content %}
<body>

<style>
 #rum_index_img {  width: 100%;  height: auto; } 
</style>

<div class="container">
<br>
<div class="row align-items-start">
<div class="col-sm-6">
<h1 style='background:coral' >FEJLESZTÉS ALATT</h1>
<h1>Üdv az MKKP városmódosító oldalán!</h1>
<p>Benőtte a gaz a szétrúgott elektromos szekrényt?<br>
Kátyúba dőlt az összegrefitizett villanyoszlop?<br>
Nem látszik a szeméttől a lekopott zebra, amin amúgy se lehetne átkelni kerekesszékkel?</p>

<p>Jelentsd be a térképen a problémákat, amiket a városodban látsz és mi megoldjuk!<br>
Vagy legalább viccessé tesszük.<br>
Vagy legalább széppé.</p>

<p>A bejelentések alatt kommentben várjuk az ötleteket, hogy mit kezdjünk az adott problémával.</p>

<p>Ha bármi kérdésed van az oldallal kapcsolatban, esetleg kezdtél valamit az egyik bejelentéssel, <br>
írj nekünk a <a href="mailto: ketfarkukutya@gmail.com"><strong>ketfarkukutya@gmail.com</strong></a>-ra!</p>
</div>

<div class="col-sm-6">
  <img src="/static/site_img/kezdo_kep.jpg" id=rum_index_img alt="kezdő kép">
</div>
</div>
<br>
<a href="/submission">
<button class="btn btn-warning form-control rounded-0"><h3>Bejelentek egy problémát!</h3></button>
</a>
<br>
<br>
<div class="row">
<div class="col-sm-3">
  <img src="/static/site_img/rum1.jpg" id=rum_index_img alt="Fedezt fel!">
  <br>
  <br>
</div>

<div class="col-sm-3">
  <img src="/static/site_img/rum2.jpg" id=rum_index_img alt="Jelentsd be!">
  <br>
  <br>
</div>

<div class="col-sm-3">
  <img src="/static/site_img/rum3.jpg" id=rum_index_img alt="Folyamatban!">
  <br>
  <br>
</div>
<div class="col-sm-3">
<img src="/static/site_img/rum4.jpg" id=rum_index_img alt="Megoldva!">
</div>
</div>

<hr>
<div class="row justify-content-center align-items-center">
<div class="column">
  <a href="https://www.facebook.com/rendkivuliugyek/">
   <img src="/static/logo/fb.png" 
   alt="Facebook icon" 
   width=40em
   height=40em>
  </a>
 <br>
 <br>
</div>
</div>
</div>

</body>
{% endblock %}
