{% extends "base.html" %}
{% block content %}

<head>
 <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
 <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.1/mapbox-gl.css" type="text/css" />
 <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
</head>

<body>
<div class="container">
  <br>
  <h3><b><i>MINDEN ÜGY EGY TÉRKÉPEN</i></b></h3>
  <hr>
  <div id='map' style='width: auto; height: 50em;'></div>
  <hr>
  

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

<script>

//https://docs.mapbox.com/mapbox-gl-js/example/cluster/

     mapboxgl.accessToken = '{{ACCESS_KEY}}';
     var map = new mapboxgl.Map({
       container: 'map',
       center: [{{lat}}, {{lng}}],
       zoom: 10,
       language: 'auto',
       style: 'mapbox://styles/mapbox/streets-v11' //'mapbox://styles/mapbox/navigation-night-v1'
       }
      );
      
      map.on('load', () => {
	// Add a new source from our GeoJSON data and
	// set the 'cluster' option to true. GL-JS will
	// add the point_count property to your source data.
      map.addSource('submissions', {
      type: 'geojson',
	// Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
	// from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
      data: {{ feature_collection | safe}},
      cluster: true,
      clusterMaxZoom: 14, // Max zoom to cluster points on
      clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
      })
      
	map.addLayer({
	id: 'clusters',
	type: 'circle',
	source: 'submissions',
	filter: ['has', 'point_count'],
	paint: {
	// Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
	// with three steps to implement three types of circles:
	//   * Blue, 20px circles when point count is less than 100
	//   * Yellow, 30px circles when point count is between 100 and 750
	//   * Pink, 40px circles when point count is greater than or equal to 750
	'circle-color': [
	'step',
	['get', 'point_count'],
	'#81c000',
	100,
	'#f1f075',
	750,
	'#f28cb1'
	],
	'circle-radius': [
	'step',
	['get', 'point_count'],
	20,
	100,
	30,
	750,
	40
	]
	}
	});
	
	map.addLayer({
	id: 'cluster-count',
	type: 'symbol',
	source: 'submissions',
	filter: ['has', 'point_count'],
	layout: {
	'text-field': '{point_count_abbreviated}',
	'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
	'text-size': 12
	}
	});
	
	map.addLayer({
	id: 'unclustered-point',
	type: 'circle',
	source: 'submissions',
	filter: ['!', ['has', 'point_count']],
	paint: {
	'circle-color': '#f95204',
	'circle-radius': 5,
	'circle-stroke-width': 1,
	'circle-stroke-color': '#000000'
	}
	});
	
	// inspect a cluster on click
	map.on('click', 'clusters', (e) => {
	const features = map.queryRenderedFeatures(e.point, {
	layers: ['clusters']
	});
	const clusterId = features[0].properties.cluster_id;
	map.getSource('submissions').getClusterExpansionZoom(
	clusterId,
	(err, zoom) => {
	if (err) return;
	 
	map.easeTo({
	center: features[0].geometry.coordinates,
	zoom: zoom
	});
	}
	);
	});	   
      }); //on load
      
	map.on('click', 'unclustered-point', (e) => {
	const coordinates = e.features[0].geometry.coordinates.slice();
	const submission_id = e.features[0].properties.id;
	const submission_title = e.features[0].properties.title;
	const submission_type = e.features[0].properties.type;
	const submission_status = e.features[0].properties.status;

	// Ensure that if the map is zoomed out such that
	// multiple copies of the feature are visible, the
	// popup appears over the copy being pointed to.
	while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
	coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
	}
	 
	new mapboxgl.Popup()
	.setLngLat(coordinates)
	.setHTML(
	`<span><b>${submission_title}</b> | </span>` +
	`<span>${submission_type} | </span>`+
	`<span>${submission_status}</span>` +
	`<a href=/single_submission/${submission_id}` + 
                   " target='blank' rel='noopener noreferrer'>" +
                   "<p>Adatlap</p>" +
                   "</a>"
	)
	.addTo(map);
	});      
      
	map.on('mouseenter', 'clusters', () => {
	map.getCanvas().style.cursor = 'pointer';
	});
	map.on('mouseleave', 'clusters', () => {
	map.getCanvas().style.cursor = '';
	});
	
	map.addControl(
	new MapboxGeocoder({
	accessToken: mapboxgl.accessToken,
	country:'HUN',
	language:'hu',
	mapboxgl: mapboxgl
	})
	);
	     
</script>
</div>
</body>

{% endblock %}
