{% extends "base.html" %} 
{% block content %}
 {% block head %}
  {% set img_url = 'https://rendkivuliugyek.site/static/upload/' + submission[0].id | string + '/' + before_img_list[0].file_name%}
  <head>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />    
    <title>{{ submission[0].title }}</title>
    <meta property="og:site_name"      content="Rendkívüli Ügyek Minisztériuma" />  
    <meta property="og:title"          content="{{ submission[0].title }}" />
    
    {% if submission[0].solution  %}
    <meta property="og:description"       content="{{ submission[0].solution }}" />
    {% else %}
    <meta property="og:description"    content="{{ submission[0].description }}" />
    {% endif %}
    
    <meta property="og:type"           content="article" />
    <meta property="og:url"            content="https://rendkivuliugyek.site/single_submission/{{  submission[0].id  }}" />
    <meta property="og:image"          content="{{ img_url }}" />
    <meta property="og:locale"         content="hu_HU" />
    
    {{ super() }}
  <style>
  .submission_solution {
    display: none; //block 
    overflow: hidden;
    }
  </style>
  </head>
 {% endblock %}
<body>

    <div class="container">
        <hr>
        <h3><b>{{ submission[0].title }}</b></h3>
        <hr>
        <p><strong>Leírás:</strong> {{ submission[0].description }}</p>
        <p><strong>Megoldási javaslat:</strong> {{ submission[0].suggestion }}</p>
        <p><strong>Státusz:</strong> {{ submission[0].status }}</p>
        <p><strong>Ebben a státuszban:</strong> {{ submission[0].status_changed_date }}</p>
        <p><strong>Típus:</strong> {{ submission[0].problem_type }}</p>
        <p><strong>Bejelentve:</strong> {{ submission[0].created_date }}</p>
        <p><strong>Megye:</strong> {{ submission[0].county }}</p>
        <p><strong>Cím:</strong> {{ submission[0].address }}</p>

        {%if submission[0].owner_email %}
         <p><strong>Rendező:</strong> {{ submission[0].owner_email }}</p>
        {% endif %}
        
        {%if submission[0].solution %}
         <p><strong>Záró szöveg:<br>
         </strong>{{ submission[0].solution }}</p>
        {% endif %}
        
        {% if current_user.email == submission[0].owner_email
           or role == 'coordinator' 
           or role == 'admin'
        %}
        <a href="/change_submission_data/{{submission[0].id}}">
            <button class="btn btn-light form-control rounded-0">Adatok módosítása</button>
        </a>
        <br>
        <br>
        {% endif %}      
        <div id="fb-root"></div>
	<div class="fb-share-button" 
	  data-href="https://rendkivuliugyek.site/single_submission/{{  submission[0].id  }}" 
	  data-layout="button_count">
	</div>
        <hr> 
        
        <!--ELŐTTE KÉPEK FELTÖLTÉSE-->
        {% if current_user.email == submission[0].submitter_email
           or current_user.email == submission[0].owner_email
           or role == 'coordinator' 
           or role == 'admin'
        %}
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" id="files" name="files" class="btn rounded-0" multiple="true" autocomplete="off" required />
                <button type="submit" id="upload_before_images" name="upload_before_images" class="btn rounded-0">Előtte Képek feltöltése
            </button>
            </div>
        </form>

        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" id="files" name="files" class="btn rounded-0" multiple="true" autocomplete="off" required />
                <button type="submit" id="upload_after_images" name="upload_after_images" class="btn rounded-0">Utána Képek feltöltése
            </button>
            </div>
        </form>

        {% endif %}
        
        <form action="" method="post">
        <!--ELŐTTE KÉPEK MUTATÁSA-->
        <h4>Előtte képek:</h4>
        <br> {% for img in before_img_list %}
        <figure class="figure">
            <a href={{url_for( 'static',filename='upload/' + submission[0].id | string + '/' + img.file_name)}}>
                <img src={{url_for( 'static',filename='upload/' + submission[0].id | string + "/" + img.thumb_file_name)}}/>
            </a>
             {% if current_user.email == submission[0].submitter_email
                or current_user.email == submission[0].owner_email
                or role == 'coordinator' 
                or role == 'admin'
              %}
             {% if submission[0].cover_image == img.thumb_file_name%}
               <figcaption>☝Jelenlegi borítókép</figcaption>
             {% else %}
               <figcaption>
               <label for="thumbnail"> Borító képpé</label>
               <input type="checkbox" name="new_thumb" value={{img.thumb_file_name}}>
               <label> Törlés: </label>
               <a href="/delete_picture/before/{{img.id}}">🗑</a>
               </figcaption>
               </figure>
             {% endif %}
            {% endif %}
        </figure>
        {% endfor %}

        <br>
        <!--UTÁNA KÉPEK-->
        <h4>Utána képek:</h4>
        
        <br> 
        {% for img in after_img_list %}
         <figure class="figure">
            <a href={{url_for( 'static',filename='upload/' + submission[0].id | string + "/" + img.file_name)}}>
                <img src={{url_for( 'static',filename='upload/' + submission[0].id | string + "/" + img.thumb_file_name)}}/>
            </a>
             {% if current_user.email == submission[0].submitter_email
                or current_user.email == submission[0].owner_email
                or role == 'coordinator' 
                or role == 'admin'
              %}
               {% if submission[0].cover_image == img.thumb_file_name%}
                 <figcaption>☝Jelenlegi borítókép</figcaption>
               {% else %}
                 <figcaption>
                 <label for="thumbnail"> Borító képpé</label>
                 <input type="checkbox" name="new_thumb" value={{img.thumb_file_name}}>
                 <label> Törlés: </label>
                 <a href="/delete_picture/before/{{img.id}}">🗑</a>
                 </figcaption>
               {% endif %}
            {% endif %}
         </figure>
        {% endfor %}
        <br>
        <button type="submit" id="change_tumbnail" name="change_tumbnail" class="btn rounded-0">Borítókép módosítása</button>
        
        </form>        
        <br>
        <hr>
        {% if comment_list[0] %}
        <label for="comment">Korábbi hozzászólások</label>
        {% endif %}
        <br> {% for comment in comment_list %} 
        {% if comment.commenter == current_user.user_name or role == 'admin' %}
        <a href="/delete_comment/{{comment.id}}">
            <button class="btn btn-danger rounded-0" id="comment-delete" name="comment-delete">törlés</button>
        </a>
        {% endif %}

        <p style="color: black; background: MediumSeaGreen; padding:0.3em">
            <strong>{{ comment.commenter}} | {{ comment.created_date}}</strong>
        </p>
        
        {% if comment.commenter == current_user.user_name or role == 'admin' %}
        <form action="" method="post">
            <textarea class="form-control rounded-0" id="comment" rows="1" name="comment" style="padding:0.2em; word-wrap: break-word;">
              {{ comment.body }}
             </textarea>
            <button class="btn btn-warning rounded-0" id="comment-edit" name="comment-edit">szerkesztés mentése</button>
            <input hidden type=text, value={{comment.id}} name="comment_id" />
        </form>
        {% else %}
        <blockquote disabled class="form-control rounded-0" id="comment" rows="1" name="comment" style="padding:0.2em; word-wrap: break-word;">
            {{ comment.body }}
        </blockquote>
        {% endif %}
        <br> 
        {% endfor %} 
        {% if current_user.is_authenticated %}
         <form action="" method="post">
            <input hidden type=text, value='{{current_user.user_name}}' name="current_user" />
            <label for="comment">Na ehhez hozzászólok én is!</label>

            <textarea class="form-control rounded-0" id="comment" rows="1" name="comment"></textarea>
            <br>
            <button type="submit" id="comment-submit" name="comment-submit" class="btn btn-primary rounded-0">Hozzáaszólás beküldése
            </button>
         </form>
         <hr> 
        {% endif %}
        
         {% if role == 'coordinator' or role == 'admin' %}
         <a href="/assign/{{submission[0].id}}" rel="noopener noreferrer">
            <button type="button" class="btn btn-success form-control rounded-0">Rendezőt adok a bejelentéshez!</button>
         </a>
         {% endif %}          

        <hr>
        
        <div id='map' style='width: auto; height: 30em;'></div>

        <a href="https://www.google.com/maps/@{{submission[0].lat}},{{submission[0].lng}},17z" target="_blank" rel="noopener noreferrer">
            <p>De nekem a Google Maps kell!</p>
        </a>

        {% if current_user.email == submission[0].owner_email or role == 'coordinator' or role == 'admin' %}
        
        <br>
        
        <a href="/delete_submission/{{submission[0].id}}">
            <button class="btn btn-danger form-control rounded-0">Bejelentés törlése!</button>
        </a>
        {% endif %}
        <hr>
        <br>
        <br>
    </div>
    
    <script>
        mapboxgl.accessToken = '{{ACCESS_KEY}}';
        var map = new mapboxgl.Map({
        container: 'map',
        center: [{{submission[0].lng}}, {{submission[0].lat}}],
        zoom: 13,
        style: 'mapbox://styles/mapbox/streets-v11' //'mapbox://styles/mapbox/navigation-night-v1'
        });
    
        map.on('load', () => {
        map.addSource('points', {
         'type': 'geojson',
         'data': {
         'type': 'FeatureCollection',
         'features': [
         {
         'type': 'Feature',
         'properties': {},
         'geometry': {
         'type': 'Point',
         'coordinates': [{{submission[0].lng}}, {{submission[0].lat}}]
         }}]}
        });
    
        // Add a circle layer
        map.addLayer({
         'id': 'circle',
         'type': 'circle',
         'source': 'points', //refers to first parameter of addSource
         'paint': {
         'circle-color': '#ff0000',
         'circle-radius': 10,
         'circle-stroke-width': 2,
         'circle-stroke-color': '#000000'
         }})
        });
    </script>
    
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
//UTILS
function deleteSource(){
    if (map.getSource('points')) {
      map.removeSource('points')
    }
};

function deleteLayer(){
    if (map.getLayer('circle')) {
      map.removeLayer('circle')
    }
};

function addSource(lng,lat){
    map.addSource('points', {
    'type': 'geojson',
    'data': {
      'type': 'FeatureCollection',
      'features': [
        {
        'type': 'Feature',
        'properties': {},
        'geometry': {
          'type': 'Point',
          'coordinates': [lng,lat]
          }
        }
      ]
    }
    });
};

function addLayer(){
	map.addLayer({
	    'id': 'circle',
	    'type': 'circle',
	    'source': 'points', //refers to first parameter of addSource
	    'paint': {
	      'circle-color': '#ff0000',
	      'circle-radius': 10,
	      'circle-stroke-width': 2,
	      'circle-stroke-color': '#000000',
	      'circle-opacity' : 0.5
	    }})    
};

//DELETE POPUP
function deletePopup(){
  const popups = document.getElementsByClassName("mapboxgl-popup");
  if (popups.length) { 
    popups[0].remove() 
    }
};

//ADD POPUP
function addPopup(lng, lat, address){
    const popup = new mapboxgl.Popup({ closeOnClick: false })
    .setLngLat([lng,lat])
    .setHTML(`<p>${address}</p>`)
    .addTo(map);
}

//<--UTILS
</script>

</body>

{% endblock %}
