{% extends "base.html" %}
{% block content %}

<html>
    <head></head>
    <body>
    <div class="container">
        <br>
	<h3><b><i>STATISZTIKÁK</i></b></h3>
	<hr>
	<p><strong>Összes statisztika az oldalon: </strong>11</p>
	<p><strong>Összes bejelentés a honlapon: </strong>{{post_count}}</p>
	<p><strong>Kényelmetlen fehérneműk száma a Parlamentben: </strong>199</p>
	<p><strong>Főispánok száma Magyarországon: </strong>19</p>
	<p><strong>Összes bolygó száma a Naprendszerben: </strong>8</p>
	<p><strong>Összes regisztrált felhasználó: </strong>{{user_count}}</p>	
	<p><strong>Magyarországon található települések száma:</strong> 3155</p>
	<p><strong>Összes bejelentett státuszú bejelentés: </strong>{{submitted_count}}</p>
	<p><strong>Összes folyamatban státuszú bejelentés: </strong>{{wip_count}}</p>
	<p><strong>Összes befejezett státuszú bejelentés: </strong>{{completed_count}}</p>
	<p><strong>Ételautomaták által évente átlagosan megölt emberek száma a világban: </strong>10</p>
	<div>
         <canvas id="status_chart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
     const labels = [
      'bejelentett',
      'folyamatban',
      'készül',
      'befejezett'
     ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Bejelentések státusz szerint',
      backgroundColor:[
      'rgba(252, 239, 2, 0.5)',
      'rgba(2, 223, 252, 0.5)',
      'rgba(252, 2, 19, 0.5)',
      'rgba(15, 252, 2, 0.5)',
      ],
      borderColor: 'rgb(0, 0, 0)',
      borderWidth: 0.5,
      data: [{{submitted_count}},{{wip_count}},{{progress_count}},{{completed_count}}],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('status_chart'),
    config
  );
</script>
    </body>
</html>
{% endblock %}
