<!DOCTYPE HTML>
{% extends "base.html" %}
{% block content %}

<html>
    <head></head>
    <body>
    <div class="container">
        <br>
	<h3><b><i>STATISZTIKÁK</i></b></h3>
	<hr>
	<div>
	<h3>Bejelentések száma státusz szerint</h3>
        <canvas id="status_chart"></canvas>
        <hr>
        <br>
        <h3>Bejelentések megoszlása megye szerint</h3>
        <canvas id="city_chart"></canvas>
        </div>
        <hr>
        <h3>További hasznos statisztikák</h3>
	<p><strong>Kényelmetlen fehérneműk száma a Parlamentben: </strong>199</p>
	<p><strong>Összes statisztika az oldalon: </strong>11.5</p>
	<p><strong>Főispánok száma Magyarországon: </strong>19</p>
	<p><strong>Összes bejelentés a honlapon: </strong>{{post_count}}</p>
	<p><strong>Összes bolygó száma a Naprendszerben: </strong>8</p>
	<p><strong>Összes regisztrált felhasználó: </strong>{{user_count}}</p>	
	<p><strong>Magyarországon található települések száma:</strong> 3155</p>
	<p><strong>Ételautomaták által évente megölt emberek száma átlagosan a világon: </strong>10</p>        
        <hr>
        <br>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
    //városok szerinti bontás
    county_count = {{ county_count_dict | safe}}
    
    labels = []
    v_counts = []
    
    Object.entries(county_count).forEach(([key, value]) => {
    labels.push(key)
    v_counts.push(value)
    })
    
    var data = {
      labels: labels,
      datasets: [{
        backgroundColor:[
        '#656d77'
        ],
        data: v_counts,
    }]
   };
  
    var config = {
    type: 'bar',
    data: data,
    options : {
    responsive: true,
    plugins: {
      legend: {
        display: false,
      },
      title: {
        display: false,
        text: 'Chart.js Line Chart',
      },
    },
    },
    };
    
    var myChart = new Chart(
    document.getElementById('city_chart'),
    config); 
    </script>
    
    <script>
     var labels = [
      'bejelentett',
      'folyamatban',
      'készül',
      'befejezett'
     ];

    var data = {
    labels: labels,
    datasets: [{
      backgroundColor:[
      '#f45d5f',
      '#feb955',
      '#22325e',
      '#35968a',
      ],
      data: [{{submitted_count}},{{wip_count}},{{progress_count}},{{completed_count}}],
    }]
    };

    var config = {
    type: 'bar',
    data: data,
    options : {
    responsive: true,
    plugins: {
      legend: {
        display: false,
      },
      title: {
        display: false,
        text: 'Chart.js Line Chart',
      },
    },
    },
  };
  
    var myChart = new Chart(
    document.getElementById('status_chart'),
    config); 
</script>
    </body>
</html>
{% endblock %}
