{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="panel panel-default">
<h3>Felhasználói fiók beállítások</h3>
</div>
<hr>
<p><strong>Felhasználónév: </strong>{{current_user.user_name}}
<form action="" method="post">
<label><strong>Felhasználónév módosítása:</label>
<input hidden id="user_id" name="user_id" type="text" value={{current_user.id}}>
<input type="text" class="form-control rounded-0" id="new_user_name" name="new_user_name">
<button class="btn btn-warning rounded-0" name="new_user_name">Új felhasználónév mentése</button>
</form>
<br>
<br>
<p><strong>Email cím: </strong>{{current_user.email}}</p>
<p><strong>Létrehozva: </strong>{{current_user.created_date}}</p>
<p><strong>Szint: </strong> {{ role }}</p>
<hr>
<form action = "" method = "post">
<input hidden id="user_id" name="user_id" type="text" value={{current_user.id}}>
<button class="btn btn-info" name="own_submissions">Ügyeim listája</button>
<br>
{% if post_list is defined%}
<p><strong>Bejelentve általam:</strong></p>
<ul class="list-group">
{% for row in post_list %}
   {% if row.title %}
   <li class="list-group-item">
    <a href="/single_submission/{{row.id}}">{{ row.title }}</a>
   </li>
   {% endif %}
{% endfor %}
</ul>
{% endif%}
<br>
{% if owner_list is defined %}
<p><strong>Rendező vagyok:</strong></p>
<ul class="list-group">
{% for row in owner_list %}
   {% if row.title %}
   <li class="list-group-item">
    <a href="/single_submission/{{row.id}}">{{ row.title }}</a>
   </li>
   {% endif %}
{% endfor %}
</ul>
{% endif%}

</form>

<hr>

<p>[Felhasználói feltételek link]</p>
<p>[Adatvédelmi tájékoztató link]</p>
  
</div>
{% endblock %}
