{% extends "base.html" %}

{% block content %}
<body>

<style>
</style>

<div class="container">
<br>
<h2>ADATKEZELÉSI SZABÁLYZAT</h2>
<hr>
<p><mark>HATÁLYOS: 2022.10.26.</mark></p>
<p>
A https://rendkivuliugyek.com domain név alatt elérhető weboldal (a továbbiakban “Weboldal”) megfelelő működéséhez elengedhetetlen a személyes adatok kezelése. Jelen szabályzat részletesen tartalmaz minden, a személyes adatok kezelésével összefüggő információt. A Weboldal használata, illetve a személyes adatok megadása önkéntes, azonban felhívjuk figyelmét, hogy a Weboldal használatával Ön elfogadja a személyes adatainak a jelen szabályzatban részletesen ismertetett kezelését.
</p>
<p>
A személyes adatok kezelése az alábbi jogszabályoknak megfelelően történik:
</p>
<p>
• Az Európai Parlament és a Tanács a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről szóló 2016/679 rendelet (általános adatvédelmi rendelet, a továbbiakban: “GDPR”), amely 2018. május 25-étől alkalmazandó;
</p>
<p>
• Az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII.
törvény (“Infotv.”). Megfelelő technikai és folyamatszabályozási intézkedésekkel biztosítjuk az általunk kezelt személyes adatok biztonságát, különös tekintettel a jogosulatlan hozzáférés, továbbítás, nyilvánosságra hozatal, törlés vagy a véletlen megsemmisülés ellen.
</p>
<p>
Bármilyen adatszivárgásról annak méretétől függetlenül bejelentést teszünk mind az adatgazdának mind a felügyeleti szervnek.
</p>
<p>
Adatkezelési Szabályzatunkat rendszeresen felülvizsgáljuk annak érdekében, hogy az megfeleljen a felhasználók elvárásainak, továbbá a hatályos adatvédelmi és egyéb jogszabályi előírásoknak.
</p>
<h3>
KI AZ ADATKEZELŐ?
</h3>
<p>
A Weboldal tulajdonosa és működtetője a továbbiakban “Adatkezelő”:
</p>
<p>
Magyar Kétfarkú Kutya Párt<br>
Székhely: 1071 Budapest, Damjanich u. 26/b 3/1<br>
Titkos bunker: 1142 Budapest, Teleki Blanka u. 6.<br>
Adószám: 18649167-1-42<br>
Szervezet nyilvántartási száma 01-02-0015629<br>
Elérhetősége:<br>
https://ketfarkukutya.mkkp.party/kapcsolat/<br>
ketfarkukutya@gmail.com<br>
</p>

<h3>
MILYEN SZEMÉLYES ADATOKAT KEZELÜNK?
</h3>
<p>
A Weboldalon történő regisztráció és új bejelentés kapcsán e-mail címet és telefonszámot kezelünk.<br>
Az email cím megadása kötelező, a telefonszám opcionális.
</p>

<h3>
MILYEN CÉLOKÉRT KEZELJÜK SZEMÉLYES ADATAIT?
</h3>
<p>
A Weboldal elsődleges célja, hogy a felhasználók bejelenthessenek problémákat a környékükről, amiket az Adatkezelő megold.
</p>
<p>
A személyes adatokat arra használjuk, hogy<br>
    • értesítsük a felhasználót, hogy bejelentését megkaptuk<br>
    • értesítsük a felhasználót, hogy megoldottuk a problémát, amit bejelentett.<br>

A személyes adatok rögzítése és feldolgozása a fenti célon kívül más okból nem történik az oldalon.
</p>

<h3>
MILYEN JOGALAPON KEZELJÜK SZEMÉLYES ADATAIT?
</h3>

<p>
A személyes adatait főszabály szerint a böngészése, kapcsolatfelvétele vagy eseményre jelentkezése során adott hozzájárulása alapján kezeljük (Infotv. 5. § (1) bekezdés a) pont / Adatvédelmi Irányelv 7. cikk a) pont / GDPR 6. cikk (1) bekezdés a) pont). Bizonyos esetekben sor kerülhet a személyes adatok kezelésére egyéb jogalapokon is, mint például az Adatkezelőre vonatkozó jogi kötelezettség (Infotv. 6. § (1) bekezdés a) pont / Adatvédelmi Irányelv 7. cikk c) pont / GDPR 6. cikk (1) bekezdés c) pont), az Adatkezelő vagy harmadik személy jogos érdeke (Infotv. 6. § (1) bekezdés b) pont / Adatvédelmi Irányelv 7. cikk f) pont / GDPR 6. cikk (1) bekezdés f) pont), az Adatkezelővel létrejött szerződés végrehajtása (Infotv. 6. § (4) bekezdés / Adatvédelmi Irányelv 7. cikk b) pont / GDPR 6. cikk (1) bekezdés
b) pont). A személyes adatok kezelésére sor kerülhet akkor is, ha a hozzájárulás visszavonásra került, de a személyes adatok kezelése szükséges az Adatkezelőre vonatkozó jogi kötelezettség vagy az Adatkezelő vagy harmadik személy jogos érdeke érvényesítése céljából, az Infotv. 6. § (5) bekezdésében kifejtett feltételekkel. Személyes adatok kezelésére sor kerülhet bűnüldözési, nemzetbiztonsági és honvédelmi célból is, amennyiben az irányadó jogszabályok így rendelkeznek. Az ilyen feladatokat ellátó szervezetek részére a személyes adatok átadhatók, amennyiben az irányadó jogszabályok így rendelkeznek.
</p>

<h3>KIKKEL OSZTJUK MEG SZEMÉLYES ADATAIT?</h3>
<p>
A Weboldal technikai karbantartását időszakosan elvégző cégen kívül más nem fér hozzá, ezen partnerünk pedig másolatot nem készít, harmadik személynek adatot nem ad át.
</p>

<h3>MENNYI IDEIG KEZELJÜK A SZEMÉLYES ADATOKAT?</h3>
<p>
A személyes adatokat addig kezeljük, amíg Ön az erre szóló hozzájárulását vissza nem vonja, adatai törlését nem kéri. A hozzájárulás visszavonásának vagy törlés kérésének hiányában az adatait legfeljebb 10 évig, vagy amennyiben a kapcsolatfelvétel eredményeképpen szerződéskötésre kerül sor, a megkötött szerződésre irányadó megőrzési idő lejártáig kezeljük.
</p>

<h3>
MILYEN JOGOK ÉS IGÉNYÉRVÉNYESÍTÉSI LEHETŐSÉGEK ÁLLNAK RENDELKEZÉSRE?
</h3>
<p>
Ön jogosult arra, hogy az általunk kezelt személyes adatai tekintetében:<br>
• a személyes adatokhoz hozzáférjen<br>
• a személyes adatok helyesbítését kérje<br>
• a személyes adatok törlését kérje<br>
• a személyes adatok kezelésének korlátozását kérje<br>
• a személyes adatok kezelésének korábban adott hozzájárulását megvonja<br>
• tiltakozzon a személyes adatai kezelése ellen<br>
• a személyes adatokat megkapja és azokat egy másik adatkezelőnek továbbítsa<br>
</p>
<p>
A kérelmét írásos formában a ketfarkukutya@gmail.com vagy irodánk címére postai úton nyújthatja be, amely nyomán hozott intézkedésekről az érintettet indokolatlan késedelem nélkül, de általában a kérelem beérkezésétől számított legfeljebb 14 napon belül tájékoztatást adunk.
</p>
<p>
Amennyiben Ön nem ért egyet válaszunkkal vagy intézkedésünkkel, Ön jogosult bejelentést tenni a Nemzeti Adatvédelmi és Információszabadság Hatóságnál (cím: 1125 Budapest, Szilágyi Erzsébet fasor 22/c; telefon: +36-1-391-1400; e-mail: ugyfelszolgalat@naih.hu) vagy bírósághoz fordulni.
</p>
<hr>
</div>
</body>
{% endblock %}
